* {
    margin: 0;
    padding: 0;
}

body {
    background-image: linear-gradient(#f3dfa2, #fdc5f5)
}

header {
    background-color: #540b0e;
    margin-left: 2rem;
    margin-right: 2rem;
}


/* BARRA DE NAV */
.lista-nav {
    list-style-type: none;
    line-height: 1.8;
    justify-content: space-evenly;
    display: flex;
    margin-bottom: 2rem;
    justify-content: right;
    }

a {
    color: #e09f3e;
    font-family: 'Handlee', cursive;
    font-weight: bolder;
    text-decoration: none;
    font-size: 1.5rem;
    margin-right: 2rem;
    }


.marca {
    font-family: 'Fredericka the Great', cursive;
    font-size: 6.3rem;
    font-weight: lighter;
    color:#fff3b0; 
    background-color: #540b0e;
    width: 100%;
    margin-top: 0.1rem;
    margin-left: 1.5rem;
    text-align: left;
}

.logo img:hover{
    transform: scale(1.6);
}

.logo {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.logo img {
    width: 7.4rem;
    height: 7.4rem;
    margin-top: 2rem;
    margin-left: 2rem;
}

.logo .marca h1 {
    text-align: center;
    padding: 3rem;
    font-size: 6rem;
    margin-left: 0.2rem;
}





/* INDEX */

h2 {
    font-family: 'Handlee', cursive;
    font-size: 2rem;
    font-weight: bolder;
    color: #a4133c;
    margin-top: 3rem;
    margin-left: 2rem;
    text-decoration: underline;
}

.p-nl {
    margin-left: 2rem;
    margin-top: 1rem;
    margin-right: 2rem;
    margin-bottom: 1rem;
    font-family: 'Handlee', cursive;
    font-size: 1.5rem;
    font-weight: bold;
}

.nl-productos .nl-contenedor img {
    width: 9rem;
    height: 13rem;
}

.nl-productos .nl-contenedor div {
    text-align: center;
    margin-left: 3rem;
    margin-right: 3rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 20rem;
    height: 28rem;
}

.nl-productos .nl-contenedor h3 {
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
    text-align: center;
}

.nl-productos .nl-contenedor h4 {
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
    text-align: center;
    font-size: 1.3rem;
}

.nl-productos .nl-contenedor p {
    font-family: 'Handlee', cursive;
    font-weight: bold;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 1rem;
    text-align: center;
}

.nl-productos .nl-contenedor {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.p-vendidos {
    margin-left: 2rem;
    margin-top: 1rem;
    margin-right: 2rem;
    margin-bottom: 1rem;
    font-family: 'Handlee', cursive;
    font-size: 1.5rem;
    font-weight: bold;
}

.img-vendidos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 2rem;
    margin-right: 2rem;
}

.vendidos-img1 {
    width: 15rem;
    height: 22rem;
    margin-top: 2rem;
}

.vendidos-img2 {
    width: 15rem;
    height: 22rem;
    margin-top: 2rem;
}

.vendidos-img3 {
    width: 15rem;
    height: 22rem;
    margin-top: 2rem;
}

.vendidos-img4 {
    width: 15rem;
    height: 22rem;
    margin-top: 2rem;
}

.vendidos-img5 {
    width: 15rem;
    height: 22rem;
    margin-top: 2rem;
}

.vendidos-img6 {
    width: 15rem;
    height: 22rem;
    margin-top: 2rem;
}

.vendidos-img7 {
    width: 15rem;
    height: 22rem;
    margin-top: 2rem;
}

.vendidos-img8 {
    width: 15rem;
    height: 22rem;
    margin-top: 2rem;
}

.vendidos-img9 {
    width: 15rem;
    height: 22rem;
    margin-top: 2rem;
}

.vendidos-img10 {
    width: 15rem;
    height: 22rem;
    margin-top: 2rem;
}

footer {
    font-family: 'Times New Roman', Times, serif;
    font-weight: lighter;
    font-size: 1rem;
    margin-left: 0rem;
    text-align: center;
    margin-top: 7rem;
}





/* E-SHOP */
.p-shop {
    margin-left: 2rem;
    margin-top: 1rem;
    margin-right: 2rem;
    margin-bottom: 1rem;
    font-family: 'Handlee', cursive;
    font-size: 1.5rem;
    font-weight: bold;
}

.productos .contenedor img{
    width: 9rem;
    height: 13rem;
}

.contenedor img:hover{
    transform: scale(1.5);
}

.productos .contenedor div{
    border: 2px solid #e09f3e;
    text-align: center;
    margin-left: 3rem;
    margin-right: 3rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 20rem;
    height: 28rem;
}

.productos .contenedor div h3{
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
    background-color: white;
    text-align: center;
}

.productos .contenedor p {
    font-family: 'Handlee', cursive;
    font-weight: bold;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 1rem;
    text-align: center;
}

.productos .contenedor button {
    padding: 0.5rem;
    background-color: #e09f3e;
    font-family: 'Handlee', cursive;
    font-weight: bolder;
    text-transform: uppercase;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.productos .contenedor {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}







/* CLUB LECTORES */
.p-club {
    margin-left: 2rem;
    margin-top: 1rem;
    margin-right: 2rem;
    margin-bottom: 1rem;
    font-family: 'Handlee', cursive;
    font-size: 1.3rem;
    font-weight: bold;
    text-align: justify;
}

ul {
    margin-left: 5rem;
    margin-top: 1rem;
    margin-right: 2rem;
    margin-bottom: 1rem;
    list-style-type: disc;
}

.lista-benef li {
    font-family: 'Handlee', cursive;
    font-size: 1.3rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.p-suscripcion {
    margin-left: 2rem;
    margin-top: 1rem;
    margin-right: 2rem;
    margin-bottom: 1rem;
    font-family: 'Handlee', cursive;
    font-size: 1.3rem;
    font-weight: bold;
    text-align: justify;
}

h3 {
    font-family: 'Handlee', cursive;
    font-size: 1.5rem;
    font-weight: bolder;
    color: #9e2a2b;
    background-color: #fff3b0;
    margin-top: 5rem;
    margin-left: 2rem;
    text-align: center;
}

#id-club {
    margin-left: 4rem;
    margin-top: 1.5rem;
    margin-right: 2rem;
    font-family: 'Handlee', cursive;
    font-size: 1.3rem;
    font-weight: bold;
}

div {
    padding: 0.5rem;
}

.boton-enviar {
    margin-left: 20rem;
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    gap: 2rem; /*espacio entre botones*/
}

.prod-lectores .cont-lectores img {
    width: 5rem;
    height: 5.5rem;
}





/* ENTREVISTAS */
.p-entrevistas {
    margin-left: 2rem;
    margin-top: 1rem;
    margin-right: 2rem;
    margin-bottom: 1rem;
    font-family: 'Handlee', cursive;
    font-size: 1.3rem;
    font-weight: bold;
    text-align: justify;
}

h4 {
    font-family: 'Handlee', cursive;
    font-size: 1.5rem;
    font-weight: bolder;
    color: #9e2a2b;
    margin-top: 5rem;
    margin-left: 5rem;
    display: flex;
    flex-direction: row;
}

.videos {
    margin-left: 6rem;
}





/* CONTACTANOS */
.p-form {
    margin-left: 2rem;
    margin-top: 1rem;
    margin-right: 2rem;
    margin-bottom: 1rem;
    font-family: 'Handlee', cursive;
    font-size: 1.3rem;
    font-weight: bold;
    text-align: justify;
}

fieldset {
    margin-left: 20rem;
    margin-top: 2rem;
    margin-right: 20rem;
    margin-bottom: 10rem;
    color: #9e2a2b;
}

legend {
    font-family: 'Handlee', cursive;
    font-size: 1.3rem;
    font-weight: bold;
    text-align: center;
    color: #9e2a2b;
}

#id-contacto {
    margin-left: 4rem;
    margin-top: 1.5rem;
    margin-right: 2rem;
    font-family: 'Handlee', cursive;
    font-size: 1.3rem;
    font-weight: bold;
}

.p-mapa {
    margin-left: 2rem;
    margin-top: 1rem;
    margin-right: 2rem;
    margin-bottom: 1rem;
    font-family: 'Handlee', cursive;
    font-size: 1.3rem;
    font-weight: bold;
    text-align: justify;
}

.mapa {
    margin-left: 23rem;
}